<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tez_Kontrol_Sistemi_Firat.Properties.Settings.Tez_KontrolConnectionString"
            connectionString="Data Source=DESKTOP-R6M9ALH\SQLEXPRESS;Initial Catalog=Tez_Kontrol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>